.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.Popup {
  display: none;
  position: fixed;
  /* background-color: rgba(242, 242, 242, 0.855); */
  /* background-color: rgba(228, 179, 181, 0.955); */
  background-color: rgba(246, 230, 230, 1);
  box-sizing: border-box;
  border: 2px dashed rgba(217, 57, 84, 1);
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
